.onsip-click-to-call-icon	{	display:none; position:absolute; z-index:9999; width:27px; height:25px; left:50px; background:url(../images/icon-phone.png) center center no-repeat; }

.onsip-message-box			{	position:fixed !important; z-index:9999 !important; top:20% !important; padding:10px !important; left:50% !important; margin:0 0 0 -250px !important; 
								background-color:rgba(100, 100, 100, 0.7) !important; border-radius:50px !important; 
							}
	.onsip-message-box DIV		{	position:relative !important; width:400px !important; border-radius:40px !important; padding:15px 15px 15px 65px !important; 
									color:#FFF !important; font:normal 14px Verdana, Geneva, Arial, Helvetica, sans-serif !important;
									background:url(../images/i_warning.png) 20px center no-repeat; background-color:#000 !important; cursor:pointer !important;
								}
	
	.onsip-call-message DIV		{	cursor:default !important; }
	
	.onsip-message-box P		{	margin:0 0 -5px !important; padding:10px 10px 0 !important; text-align:right !important; }
	.onsip-message-box P A		{	display:inline-block !important; color:#FFF !important; text-decoration:none !important; border-radius:3px !important; padding:3px 10px !important; 
									background: -webkit-gradient(linear, left top, left bottom, from(#CC0000), to(#990000) ) 0 !important; 
									font:normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif !important; text-shadow:1px 1px 0px #000 !important;
								}
	
	.onsip-message-box P A.onsip-edit-address	{	background: -webkit-gradient(linear, left top, left bottom, from(#006600), to(#003300) ) 0 !important; }
